<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
<!-- Used for development purpose -->

<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
  <Target>System.out</Target>
  <layout class="ch.qos.logback.classic.PatternLayout">
    <Pattern>%d %-5p [%c] [%t] %m%n</Pattern>
  </layout>
  <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
    <level>DEBUG</level>
  </filter>
</appender>

<root level="INFO">
<!-- debigging in the CONSOLE -->
  <appender-ref ref="CONSOLE"/>
</root>

</configuration>
